<div class="row">
  <div class="col-xs-12 col-sm-4 offset-sm-4 col-md-6 offset-md-3 form-crud mb-5">
    <h2>Créer mon compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%=f.label :password %>
        <div class="input-password-wrapper">
          <%= f.input :password,
                      label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }%>
          <i class="far fa-eye"></i>
        </div>
        <%=f.label :password_confirmation %>
        <div class="input-password-wrapper">
          <%= f.input :password_confirmation,
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" }%>
          <i class="far fa-eye"></i>
        </div>
      <div class="form-actions">
        <%= button_tag :submit, class: "btn btn-primary" do %>
            <i class="fas fa-user-plus"></i> Créer mon compte
        <% end %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

