<div class="wrapper-about mx-auto">
  <div class="section section-about mt-5">
    <h1 class="title">A <br> propos</h1>
    <p>Codé par 2 alumnis du Wagon Bordeaux, ShareYourTools est un moyen simple et rapide de sauvegarder vos sites préférés,
      vou pouvez les retrouver à tout moment et les partager.
      Nous faisons ce projet sur notre temps libre, et de nombreuses nouvelles fonctionnalitées devraient bientôt arriver.
      Pour nous partager vos idées ou remarques
      <%= mail_to "ecrepontvalentine@hotmail.fr", subject: "Remarques concernant ShareYourTools", target: "_blank" do %>
        c'est par ici <i class="fas fa-envelope"></i> !
      <% end %>
    </p>
    <%= image_tag "undraw_online_connection_6778.svg", alt: "" %>

  </div>

  <div class="section section-team my-5">
    <h1 class="title">La <br> team</h1>
    <div class="team-cards d-flex">

      <div class="team-card">
        <%= image_tag "vecrepont_photo.jpg", alt: "photo valentine ecrepont" %>
        <h3>Valentine Ecrepont</h3>
        <div class="social-medias">
          <%= link_to "https://www.linkedin.com/in/valentine-ecrepont-539519197/", target: "_blank" do %>
            <i class="fab fa-linkedin"></i>
          <% end %>
          <%= link_to "https://github.com/Eval160", target: "_blank"  do %>
            <i class="fab fa-github"></i>
          <% end %>
          <%= link_to "https://twitter.com/Eval160", target: "_blank"  do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= mail_to "ecrepontvalentine@gmail.com", target: "_blank" do %>
            <i class="fas fa-at"></i>
          <% end %>
        </div>
        <p>Développeuse web Ruby on Rails et Javascript, passionnée d'UX et particulièrement sensible à l'accessibilité et à l'éco-conception web.</p>
        <%= link_to "Portfolio", "#", target: "_blank", class: "btn btn-outline-primary"%>
      </div>

      <div class="team-card">
        <%= image_tag "jprevost_photo.jpg", alt: "photo valentine ecrepont" %>
        <h3>Jules Prévost</h3>
        <div class="social-medias">
          <%= link_to "https://www.linkedin.com/in/prevostjules/", target: "_blank" do %>
            <i class="fab fa-linkedin"></i>
          <% end %>
          <%= link_to "https://github.com/prevostjules", target: "_blank"  do %>
            <i class="fab fa-github"></i>
          <% end %>
          <%= link_to "https://twitter.com/prevost_jules", target: "_blank"  do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= mail_to "jules@prevostdev.com", target: "_blank" do %>
            <i class="fas fa-at"></i>
          <% end %>
        </div>
        <p>Développeur web (Ruby On Rails) freelance, Teacher Assistant au Wagon Bordeaux et journaliste pigiste pour GEO, Le Monde, Le Figaro Magazine, La Vie et quelques autres.</p>
        <%= link_to "Portfolio", "https://www.prevostdev.com", target: "_blank", class: "btn btn-outline-primary"%>
      </div>


    </div>
  </div>
</div>
