<div class="wrapper-about">
  <h1>Pourquoi ShareYourTools ?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <div class="presentation presentation-val">
    <div class="presentation_img">
      <%= image_tag "vecrepont_photo.jpg", alt: "photo valentine ecrepont" %>
    </div>
    <div class="info">
      <h2>Valentine Ecrepont</h2>
      <div class="medias">
        <%= link_to "https://www.linkedin.com/in/valentine-ecrepont-539519197/", target: "_blank" do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        <%= link_to "https://github.com/Eval160", target: "_blank"  do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to "https://twitter.com/Eval160", target: "_blank"  do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <%= mail_to "ecrepontvalentine@hotmail.fr", target: "_blank" do %>
          <i class="fas fa-at"></i>
        <% end %>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="presentation presentation-jules">
    <div class="info">
      <h2>Jules Prévost</h2>
      <div class="medias">
        <%= link_to "https://www.linkedin.com/in/prevostjules/", target: "_blank" do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        <%= link_to "https://github.com/prevostjules", target: "_blank"  do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to "https://twitter.com/prevost_jules", target: "_blank"  do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <%= mail_to "", target: "_blank" do %>
          <i class="fas fa-at"></i>
        <% end %>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="presentation_img">
      <%= image_tag "jprevost_photo.jpg", alt: "photo valentine ecrepont" %>
    </div>

  </div>

</div>
