<div class="row">
  <div class="col-xs-12 col-sm-4 offset-sm-4 col-md-6 offset-md-3 form-crud mb-5">
    <h2>Se connecter</h2>

    <small>Connectez-vous pour accéder à vos favoris et partager de nouveaux sites</p>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%=f.label :password %>
        <div class="input-password-wrapper">
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <i class="far fa-eye"></i>
        </div>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= button_tag :submit, class: "btn btn-primary" do %>
            <i class="fas fa-sign-in-alt"></i> Se connecter
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

