<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3 form-crud mb-5">
    <h2> <%= @resource.new_record? ? "Ajouter un site" : @resource.title %></h2>
    <%= simple_form_for @resource do |f| %>
      <fieldset class="form-group ">
        <legend class="col-form-label pt-0">Choississez une ou plusieurs catégories</legend>
        <small class="form-text text-muted mb-3">Plusieurs choix possibles</small>
        <input type="hidden" name="resource[category_ids][]" value="">
        <div class="category-choices">
          <% Category.order(:name).each do |category| %>
            <input class="d-none" type="checkbox" value="<%= category.id %>" name="resource[category_ids][]" id="resource_category_ids_<%= category.id %>" <%= "checked='true'" if @resource.categories.include?(category) %> >
            <label class="category-choice <%= 'active' if @resource.categories.include?(category) %>" for="resource_category_ids_<%= category.id %>"><%= category.name %></label>
          <% end %>
        </div>

        <div>
          <label for="resource_categories_attributes_0_name">Autre ?</label>
          <%= f.fields_for :categories, Category.new do |category_attributes|%>
              <%= category_attributes.text_field :name, class: "form-control" %>
          <% end %>
        </div>
      </fieldset>

      <div class="d-flex justify-content-between resources_inline-input">
        <%= f.input :title, label: "Titre", placeholder: "Site du Zero" %>
        <%= f.input :url, placeholder: "https://supersite.com" %>
      </div>

      <div class="btn btn-primary d-inline-flex align-items-center", id="upload-btn">
        <i class="fas fa-upload"></i>
        <%= f.input :photo, as: :file, label: "Charger une photo" %>
      </div>

      <%= f.input :description %>
      <%= f.button :submit, 'Ajouter', class: "btn btn-primary"  %>
    <% end %>
      <%= link_to "Revenir à la page précedente", :back %>
  </div>
</div>
