<h1>Resources#index</h1>

<%= link_to "New resource", new_resource_path %>
<% @resources.each do |resource| %>
  <div class="card shadow">
    <h3><%= resource.title %></h3>
    <span><%= resource.url %></span>
    <p><%= resource.description %></p>
    <div class="tag">
      <% resource.categories.each do |category| %>
        <span><%= category.name %></span>
      <% end %>
    </div>
    <%= link_to "View more", resource_path(resource) %>
    <div class="">
      <% if current_user.favorites.find_by(resource: resource) %>
        <%= link_to favorite_path(current_user.favorites.find_by(resource: resource)), method: :delete do %>
          <i class="fas fa-heart"></i>
         <% end %>
      <% else %>
        <%= link_to resource_favorites_path(resource), method: :post do %>
          <i class="far fa-heart"></i>
         <% end %>
      <% end %>
    </div>
  </div>
<% end %>
