<div class="category-filter_section">
  <%= submit_tag "Filtrer par catégorie", class: "toogleBtn btn btn-primary mt-4 mb-2" %>
  <%= simple_form_for resources_path, method: "get" do |f|%>
    <div class="category-filter d-none ">
      <%= f.input :category, as: :check_boxes, collection: Category.all, input_html: { class: 'd-none' }   %>
      <%= f.submit "Go !", class: "btn btn-primary filter-btn"%>
    </div>
  <% end %>

</div>

<div class="row justify-content-center">
  <% @resources.shuffle.each do |resource| %>
    <div class="col-12 col-lg-6" id="resource-<%= resource.id %>">
      <%= render 'card-index', resource: resource %>
    </div>
  <% end %>
</div>
